

<br>
<div class="row">
	<div class="col-md-offset-1 col-md-3">
		<span>Pilih Semester</span>
		<select class="form-control">
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
	</div>
	<br>
	<div class="col-md-3">
		<div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
	</div>
</div>

<br><br>
<ul class="sidebarservices">
        <li><a href="#"><h2>KOM 333 Temu Kembali Informasi <span class="badge" style="background-color: red; padding: 8px;min-width: 28px;border-radius: 50px">30</span></h2></a></li>
        <li><a href="#"><h2>KOM 323 Etika Komputasi <span class="badge" style="background-color: red; padding: 8px;border-radius: 100px;min-width: 28px">3 </span></h2></a></li>
      </ul>


 